 body {
    background: black;
    color: white;
    margin: 0;
    overflow: hidden;
}

#screen {
	height: 100%;
	width: 100%;
}

#screen > * {
	transform: scale(2, 2);
}

#magenta, #orange, #purple, #blue, #green, #red {
	position: absolute;
	height: 208px;
	width: 686px;
}

#magenta {
	top: 50%;
	left: -200px;
	transform: rotate(90deg) scale(2, 2);
}

#orange {
	left: 12%;
	bottom: 0;
}

#purple {
	bottom: 0;
	right: 12%;
}

#blue {
	top: 50%;
	right: -200px;
	transform: rotate(-90deg) scale(2, 2);
}

#red, #green {
	top: 50%;
	left: 30%;
	margin-top: -100px;
}

svg {
	height: 208px;
	width: 686px;
}

.hidden {
	display: none;
}
