
<html>
    <head>
      <title>Hello World</title>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    
    <body>
      <!--This is from the server.-->
      <!---->
      <!--<div id="app">-->
          <!--<p>{{ message }}</p>-->
      <!--</div>-->


      <audio id="melody1" src="static/sounds/melody 1.wav"></audio>
      <audio id="melody2" src="static/sounds/melody 2.wav"></audio>
      <audio id="melody3" src="static/sounds/melody 3.wav"></audio>
      <audio id="melody4" src="static/sounds/melody 4.wav"></audio>

      <audio id="arp1" src="static/sounds/arp 1.wav"></audio>
      <audio id="arp2" src="static/sounds/arp 2.wav"></audio>
      <audio id="arp3" src="static/sounds/arp 3.wav"></audio>
      <audio id="arp4" src="static/sounds/arp 4.wav"></audio>

      <audio id="pads1" src="static/sounds/pads 1.wav"></audio>
      <audio id="pads2" src="static/sounds/pads 2.wav"></audio>
      <audio id="pads3" src="static/sounds/pads 3.wav"></audio>
      <audio id="pads4" src="static/sounds/pads 4.wav"></audio>

      <audio id="perc1" src="static/sounds/perc 1.wav"></audio>
      <audio id="perc2" src="static/sounds/perc 2.wav"></audio>
      <audio id="perc3" src="static/sounds/perc 3.wav"></audio>
      <audio id="perc4" src="static/sounds/perc 4.wav"></audio>

      <ul id="messages"></ul>

      {% raw %}
          <div id="screen" v-on:dblclick="updateMelody" v-on:click.alt="updatePads" v-on:click.shift="updateArps" v-on:click.meta="updateDrums">
            <div id="animation" v-bind:style="{top: y, left: x }" v-bind:class="{hidden: melHide}"></div>
            <div id="animation2" v-bind:style="{top: y2, left: x2 }" v-bind:class="{hidden: padHide}"></div>
            <div id="animation3" v-bind:style="{top: y3, left: x3 }" v-bind:class="{hidden: arpHide}"></div>
            <div id="animation4" v-bind:style="{top: y4, left: x4 }" v-bind:class="{hidden: drumHide}"></div>
          </div>
      {% endraw %}

      <script src="static/vue.js"></script>

      <script src="static/socket.io.min.js"></script>
      <script src="static/buffer-loader.js"></script>
      
      <script src="static/jquery.min.js"></script>

      <script src="static/lottie.js" type="text/javascript"></script>
      <script src="static/script.js" type="text/javascript"></script>
    </body>

</html>